body {
    /* */ 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 100%;
    padding: 1rem 1rem;
    position: relative;
  }
  
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2.5rem 1rem;
  }

#logo {
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 2.5rem;
}

.nav-list {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 150;
    color: inherit;
  }

a {
    text-decoration: none;
}

li {
    list-style-type:none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color:burlywood;
    transition-duration: 0.5s;
}



/* --------------------------- MAIN --------------------------- */

.sm-section ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.sm-section img {
    opacity: 60%;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.sm-section img:hover {
    transition-duration: 0.7s;
    opacity: 100%;
}

main {
    font-family: 'Karla', sans-serif;
    font-weight: 100;
}

.my-photo {
    width: 3500px;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    object-fit: cover;
   
}

.bio-section {
    font-size: 17.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 300px 0px 300px;
}
.bio-text {
    text-align: justify;
    margin-top: -25px;
    margin-left: 30px;
}

.bio-header {
    font-weight: 350;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 350;
}

/* --------------------------- LANGUAGES --------------------------- */
.ling-languages {
margin-left: 30px;
}

.language {
    margin-bottom: 10px;
    font-family: 'Karla', sans-serif;
  }
  
  .language-label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    display: inline-block;
  }
  
  .progress-bar {
    width: 100px;
    max-width: 400px;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-fill {
    height: 100%;
    background-color: burlywood;
    width: 0%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  @keyframes crawl {
    from {
      width: 0%;
    }
  }
  
  .level-a1 {
    animation-name: crawl-a1;
  }
  @keyframes crawl-a1 {
    to {
      width: 10%;
    }
  }
  
  .level-a2 {
    animation-name: crawl-a2;
  }
  @keyframes crawl-a2 {
    to {
      width: 25%;
    }
  }
  
  .level-b1 {
    animation-name: crawl-b1;
  }
  @keyframes crawl-b1 {
    to {
      width: 45%;
    }
  }
  
  .level-b2 {
    animation-name: crawl-b2;
  }
  @keyframes crawl-b2 {
    to {
      width: 65%;
    }
  }
  
  .level-c1 {
    animation-name: crawl-c1;
  }
  @keyframes crawl-c1 {
    to {
      width: 85%;
    }
  }
  
  .level-c2 {
    animation-name: crawl-c2;
  }
  @keyframes crawl-c2 {
    to {
      width: 100%;
    }
  }
  

/* --------------------------- PROJECTS --------------------------- */
.project-section {
    background-image: linear-gradient(180deg, white, burlywood 10%, burlywood 90%, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 0 0;
    padding: 100px 0 180px 0;
    color: white;
}

.project-header {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
}

.book {
    position: relative;
    border-radius: 0px;
    width: 220px;
    height: 300px;
    background-color: rgb(250, 250, 250);
    /* -webkit-box-shadow: 1px 1px 12px #c7c7c7;
    box-shadow: 1px 1px 12px #c7c7c7; */
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 0px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
  }

  .card-text {
    margin: 0 12px 0 40px;
    text-align: justify;
    font-size: 13px;
  }


.projects-gallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project {
    border-radius: 5px;
    width: 50px;
    margin-right: 5px;
}

#contact-section {
    color: white;
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(222, 184, 135, 1) 100%);;
}
