body {
    /* */ 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
}
#logo {
    font-size: 28px;
    font-weight: 100;
}
a {
    text-decoration: none;
}

li {
    list-style-type:none;
}

main {
    font-family: 'Karla', sans-serif;
    font-weight: 100;
}
.bio-header {
    font-weight: 350;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.my-photo {
    width: 20%;
}